!spacemacs/.spacemacs.d/configuration.org
!spacemacs/.spacemacs.d/init.el
!spacemacs/.spacemacs.d/layers
!spacemacs/.spacemacs.d/resources
!spacemacs/.spacemacs.d/snippets
spacemacs/.spacemacs.d/configuration.el
spacemacs/.spacemacs.d/.cask
spacemacs/.spacemacs.d/*test-results*
